body {
    background-color: #0890F1;
}
#main {
    background-color: #ffffff;
    color: black;
    border-radius: 0.25em;
    font-weight: 500;
}

h1 {
    font-family: 'FoundersGrotesk', sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: normal;
    font-style: normal;
}
/*soup*/

/*.statistics li .style1 .pumpkin img{
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1.5em;
    color: #ffffff;
    text-align: center;
    width: 5em;
}*/

/* live music*/
.mainspecial .livemusic .image1 {
    display: block;
    border-radius: 100%;
    width: 16em;
    display: inline-block;
	margin-left: 4em;
	padding: 0.65em;
	border: solid 1px;
}
