body {
    background-color: pink;
}
#main {
    background-color: #F2DFA7;
    color: black;
    border-radius: 0.25em;
    font-weight: 500;
}

h1 {
    font-family: 'FoundersGrotesk', sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: normal;
    font-style: normal;
}
/*soup*/

.pictures{
    display: flex;
   
}
.gallery{
    width: 25%;
    background-color: bisque;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 1%;
}
.gallery img {
width: 100%;
height: fit-content;

}
.gallery:hover {
    border: 1px solid #777;
  }
/* live music*/
.mainspecial .livemusic .image1 {
    display: block;
    border-radius: 100%;
    width: 16em;
    display: inline-block;
	margin-left: 4em;
	padding: 0.65em;
	border: solid 1px;
}
