body, input, select, textarea {
    font-family: 'Courgette', cursive;
}

#logo{
    width: 50%;
}

#main {
    background-color: #F2DFA7;
    color: black;
    border-radius: 0.25em;
    font-weight: 500;
  
}
h1 {
    color: lightpink;
    font-weight: 700;
}
