body, input, select, textarea {
    font-family: 'Courgette', cursive;

}
body {
		background-color: #e0e7ff;
		
	}


#header.alt .logo img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
}

#nav {
    color: black;
}

#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #312e81;
    position: absolute;
    width: 64em;
    max-width: calc(100% - 4em);
    padding: 1em;
    background-color: #fda4af;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}

#wrapper h2{
    color: #881337;
    font-size: medium;
}
#main {
    background-color: #ffe4e6;
    color: #636165;
    border-radius: 0.25em;
    font-weight: 500;
    
  
}
#main h2{
    color: #be123c;
    font-size: xx-large;
}
#main p{
    font-size: small;
    font-style: normal;
    color:#000;
    
}
#main #box alt p{
  font-weight: 200;  
}
#main h3{
    color:#000;
    font-weight: 300;
    font-size: medium;

}
/*#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
    color: #231A34;
}*/
#main input[type="submit"],
	#main input[type="reset"],
		#main input[type="button"],
		#main button,
		#main .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 4px #dddddd;
			color: palevioletred !important;
		}

h1 {
    color: rgb(53, 33, 163);
    font-weight: 700;
}

#map{
    width: 90%;
    height: 25em;
}

#footer h2{
    color: aliceblue;
    font-size: x-large;
    font-weight: 400;
}

#footer p{
    color: #ffffff;
}
#menu h3{
    color: #4338ca;
    font-size: medium;
    font-weight: 400;
}
